.container {
	margin: 100px auto;
	width: 85%;
	min-width: 700px;
	height: 450px;
}

.code {
	margin: 5px auto;
	width: 45%;
	min-width: 300px;
	height: 430px;
}

.preview {
	margin-left: 10px;
	float: left;
}

.content {
	border-radius: 3px;
	margin-right: 10px;
	border: 1px solid black;
	float: right;
}

#source {
	background: #CCC;
}