.code {
	margin: 5px auto;
	width: 45% !important;
	min-width: 300px;
	padding: 7px;
}

.preview {
	margin-left: 10px;
	float: left;
	overflow: auto;
	border: 1px solid #DDD;
}

.content {
	border-radius: 10px;
	margin-right: 10px;
	background: #CCC;
	float: right;
}